body {
    background-color: rgb(71, 178, 236);
    
}

.judul{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-shadow: 2px 2px 4px aqua;
}

.login{
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-shadow: 2px 2px 4px black;
}


body.halaman-home::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

ul {
   display: flex;
   justify-content: flex-start;
   gap: 30px;
   align-items: center;
   padding-block: 0;
   list-style: none;
}

.nav-link img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.nav-link {
    display: flex;
    align-items: center;
}


/* CARD IKAN */
.card {
    height: 100%;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
}

/*efek animasi */
.card {
    opacity: 0;
    transform: translateY(50px);
    animation: muncul 0.8s ease forwards;
}

@keyframes muncul {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Efek ketika mouse diarahkan ke card */
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* Ukuran semua gambar sama */
.gambar-ikan {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/* Isi card */
.card-body {
    padding: 15px;
}

/* Judul */
.card-title {
    font-weight: bold;
    margin-bottom: 15px;
}

/* Tabel biografi */
.tabel-ikan {
    font-size: 13px;
    margin-bottom: 15px;
}

/* Kolom kiri */
.tabel-ikan td:first-child {
    width: 38%;
    font-weight: bold;
}

/* Agar teks panjang tidak membuat card melebar */
.tabel-ikan td {
    vertical-align: top;
    word-break: normal;
}

/* Tombol */
.card .btn {
    border-radius: 8px;
}

/* Judul kategori */
.container > .text-center h2 {
    font-weight: bold;
}

/*footer*/

.footer {
    background-color: #1b1b1b;
    color: white;
    padding: 40px 0 20px;
}

.footer h4 {
    margin-bottom: 20px;
    font-weight: bold;
}

.footer p {
    color: #cccccc;
}

.footer ul {
    display: block;
    padding: 0;
    margin: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer a {
    color: #cccccc;
    text-decoration: none;
}

.footer a:hover {
    color: white;
    text-decoration: underline;
}

.footer hr {
    border-color: #555;
    margin-top: 20px;
}